.center {
	margin-left: auto;
	margin-right: auto;
}

tr {
	border-radius: 5px;
}

.name-cell {
	width: 20rem;
}

tr:nth-child(even) {
	background-color: #313131;
}

tr:hover {
	background-color: #444870;
	cursor: pointer;
}

th {
	background: #5d0db8;
	position: sticky;
	top: 0;
	color: white;
}

.table-container {
	height: 30rem;
	overflow-y: scroll;
}
